@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

header > div {
    background-color: black;
    padding: 10px;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: right;
    white-space: nowrap;
    font-size: 85%;
}

div#titulo-area {
    display: inline-block;
    width: 100%;
    height: 100%;
    justify-content: left;
}

div#fcc {
    display: flex;
    color: lightgray;
    padding: 5px;
    align-items: center;
    width: 100%;
}

div#fcc > a {
    text-decoration: none;
    color: lightgray;
    margin-left: 5px;
}

div#fcc > a:hover {
    color: white;
}

button.hidden {
    display: none;
}

button.verde {
    background-color: #37AF65;
    padding: 1px;
    width: 100%;
}

button.verde:hover {
    background-color: #248C46;
    color: white;
}

div#titulo {
    display: flex;
    align-items: center;
}

div#titulo > h1 {
    color: white;
}

div#botoes {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0px;
    width: 70%;
}

div#botoes > a {
    padding: 2px;
}

div#botoes > a > button {
    border-radius: 10px;
    padding: 5px;
    height: 50px;    
    font-weight: bold;
}

button.outros-botoes {
    background-color: #666977;
    color: white;
}

button.outros-botoes:hover {
    background-color: #818699;
}

main {
    background-color: darkgray;
    width: 100%;
}

div.container {
    width: 100%;
    background: url(../imagens/fundo01.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}


div.titulo-pesquisa {
    position: relative;
    color: white;
    text-align: center;
    padding: 30px;
    padding-top: 50px;
    font-weight: lighter;
}

div.titulo-pesquisa > p {
    font-style: italic;
    padding: 10px;
}

section {
    display: block;
    margin: auto;
    background-color: #282745da;
    width: 70%;
    height: 100%;
    padding: 40px;
    color: white;
    font-size: 1.3em;
    line-height: 1.6;
    max-width: 720px;
}

form > p {
    padding: 20px;
}

form > P > input#inome, #iemail, #iidade, #iocup, select#irecu {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    padding: 5px;
    margin-top: 8px;
    font-size: 0.8em;
    
}
form > p.choices > label {
    padding: 5px;
}

form > p > textarea {
    width: 100%;
    resize: none;
    font-size: 1.1em;
}

form > p > input#ienviar {
    background-color: #37AF65;
    font-size: 0.9em;
    font-weight: bolder;
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
}

form > p > input#ienviar:hover {
    background-color: #248C46;
    color: white;
}